#navbar li{
    list-style: none;
}

#navbar{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%
}

#welcome-section{
    margin-top: 50px;
}

@media screen and (max-width: 200px){
    body{
        width:100%
    }
}